.header-container {
  height: 60px;
  padding: 8px;
  border: 1px solid grey;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
}
