.input-container {
  display: flex;
  flex-direction: column;
}
.input-container small {
  color: grey;
}
.input-container input {
  outline: none;
  padding: 0.5em;
  border: 0;
  border-bottom: 1px solid #007bff;
}
