.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 8px;
  padding: 9px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  max-width: 400px;
  flex-direction: column;
  z-index: 2;
  min-width: 200px;
}
p {
  color: #5f6368;
}
.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.modal-header h4 {
  margin: 0;
}
